.post-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    .post-holder {
        margin-bottom: 2rem;
        padding: 2rem;
        background: $color-gray-f4;
        .post-item-link {
            color: $color-black;
            font-weight: 700;
        }
        &:hover {
            box-shadow: .3rem .3rem .4rem 0 rgba($color-black, .1);
            position: relative;
            z-index: 2;

        }
    }
    .post-read-more {
        padding-top: 1rem;
        float: right;
        color: $color-black;
    }
}

.box-widget {
    margin-top: 2rem;
    .block-title {
        padding: 0 0 .7rem;
        border-bottom: .1rem solid $color-gray-f4;
        position: relative;
        strong {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 500;
            color: #252525;
        }
    }
    .block-content {
        .item {
            padding: .8rem 0 0 0;
        }
    }
    .block-content-product {
        .item {
            padding: 2.5rem 0;
            border-bottom: .1rem solid $color-gray;
            &:last-child {
                border-bottom: 0;
            }
            .product-image-photo {
                width: 100%;
            }
        }
    }
}

.box-content-blog {
    img {
        max-width: 100%;
    }
}