.box-content-login, .box-content-register {
    .block-title {
        font-size: 1.8rem;
        margin: 1rem 0;
        text-transform: uppercase;
        .block .block-title strong {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: #252525;
        }
    }
}

.fieldset {
    border: 0;
    margin: 0 0 3rem;
    padding: 0;
    &:last-child {
        margin-bottom: 0;
    }
    > .field {
        display: flex;
        margin: 0 0 2rem;
        box-sizing: border-box;
        margin: 0 0 1.5rem;
        &:not(.choice) > .label {
            padding: 6px 1.5rem 0 0;
            text-align: right;
            width: 25.8%;
            box-sizing: border-box;
        }
        > .control {
            width: 55%;

        }
    }
    > .legend {
        margin: 0 0 25px;
        padding: 0;
        box-sizing: border-box;
        line-height: 1.2;
        font-size: 2rem;
        color: #333;
        border-bottom: 1px solid #e5e5e5;
    }
}

.actions-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    margin-bottom: 3rem;
    .title strong {
        font-weight: 700;
        line-height: 1.1;
        font-size: 1.4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.box-form-wrapper-control {
    border-bottom: .1rem solid rgba($color-black, .5);
    margin: 1rem 0;
    h3 {
        font-size: 1.6rem;
        margin-top: 2rem;
    }
}

.box-control-form {
    width: 100%;
    margin-bottom: 1.5rem;
    .remind {
        display: inline-block;
    }
    .box-wrapper-action {
        text-align: right;
    }
    .btn-action-form {
        background: $color-red;
        border-radius: .2rem;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 0 1rem;
        i {
            margin-right: 1rem;
        }
    }
}
.box-icon-facebook {
    .icon-facebook {
        display: flex;
        align-items: center;
        height: 4rem;
        width: 30rem;
        background: #4768B0;
        .icon {
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            background: #1A4196;
            color: $color-white;
            font-size: 2.4rem;
        }
        .text {
            width: 26rem;
            text-align: center;
            color: $color-white;
            font-size: 1.8rem;
            padding-bottom: .3rem;
        }
    }
}