.header-box-cart {
    &.active {
        .box-header-content-cart {
            height: auto;
            opacity: 1;
            box-shadow: 0 .3rem .3rem rgba($color-black, .15);
        }
    }
}

.box-header-content-cart {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s;
    position: absolute;
    list-style: none none;
    background: $color-white;
    border: 1px solid $color-gray;
    margin-top: 1rem;
    min-width: 100%;
    z-index: 100;
    box-sizing: border-box;
    top: 100%;
    right: -1.5rem;
    width: 31rem;
    @media (min-width: 400px) {
        width: 39rem;
    }
    &:before, &:after {
        content: '';
        display: block;
        height: 0;
        position: absolute;
        width: 0;
        border-bottom-style: solid;
    }
    &:before {
        border: 6px solid;
        border-color: transparent transparent $color-white transparent;
        z-index: 99;
        right: 2.5rem;
        top: -1.2rem;
    }
    &:after {
        border: .7rem solid;
        border-color: transparent transparent $color-gray transparent;
        z-index: 98;
        right: 2.4rem;
        top: -1.4rem;
    }
    .minicart-content-header {
        padding: 2.5rem 2rem;
        #btn-minicart-close {
            display: inline-block;
            background: none;
            border: 0;
            box-shadow: none;
            line-height: inherit;
            margin: 0;
            padding: 0;
            text-decoration: none;
            text-shadow: none;
            font-weight: 400;
            height: 2rem;
            position: absolute;
            right: .5rem;
            top: .5rem;
            width: 2rem;
        }
        .items-total {
            float: left;
            margin: 0 1rem;
        }
        .subtotal {
            margin: 0 1rem;
            text-align: right;
            .block-minicart .amount .price-wrapper:first-child .price {
                font-size: 1.8rem;
                font-weight: 700;
            }
        }
        #top-cart-btn-checkout {
            width: 100%;
            margin-top: 1rem;
        }
    }
    .minicart-items-wrapper {
        border: 1px solid $color-gray;
        max-height: 31rem !important;
        margin: 0;
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 1.5rem;
        .product-item {
            border-bottom: .1rem solid $color-gray;
            padding: 1.5rem 0;
            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            &:first-child {
                padding-top: 0;
            }
            .product {
                img {
                    width: 100%;
                }
            }
        }
    }
    .action-view-cart {
        padding: 1.5rem;
        #top-cart-btn-view-cart {
            width: 100%;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    .header-cart-price {
        span {
            font-size: 1.2rem;
        }
    }
    .actions-cart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .qty {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 8rem;
            span {
                &:first-child {
                    width: 6rem;
                }
            }
        }
        .action-cart {
            a {
                margin-left: 1rem;
                font-size: 1.6rem;
            }
        }
    }
}

.block-info-cart {
    .actions {
        margin-top: 1rem;
        .action.primary {
            width: 100%;
        }
    }
    .total-cart {
        border-top: .1rem solid $color-gray;
        padding: 1.5rem 0;
        margin-top: 1.5rem;
    }
}

.block-cart-info {
    img {
        width: 100%;
    }
    .info-price {
        margin-top: 1rem;
    }
    .item-cart {
        border-bottom: .1rem solid $color-gray;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    .action-cart {
        .actions {
            margin-bottom: 1rem;
        }
    }
}

.item-theart-cart {
    border-bottom: .1rem solid $color-gray;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.actions-cart-item {
    margin-top: 1rem;
}

.option-item-cart {
    font-size: 1rem;
}

.cart-product {
    border-bottom: .1rem solid $color-gray;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    .header-box-cart {
        border-bottom: .1rem solid $color-gray;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
}

.cart-product-item-name {
    width: 50%;
}

.cart-product-item-qty {
    width: 7rem;
    text-align: center;
}

.cart-product-item-price {
    width: 7rem;
    text-align: right;
}

.block-item-nav-cart-first {
    margin-top: 1.5rem;
}

.custom-controls-stacked {
    .custom-control{
        padding-left: 2.5rem;
        margin-bottom: 1rem;
    }
    .custom-control-indicator {
        width: 2rem;
        height: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
}
.box-promotion {
    margin: 1rem 0;
    h4 {
        font-weight: bold;
    }
    .input-group {
        width: 70%;
        .btn-coupon {
            font-size: 1.6rem;
            background-color: $color-dark-moderate;
            color: $color-white;
            border: none;
        }
    }
}
