.box-checkout-no-login {
    .checkout-box_heading {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .1rem solid $color-gray;
    }
    .block-dashboard-addresses {
        margin-top: 1rem;
        label {
            text-align: right;
        }
        .custom-select {
            height: 3.4rem;
        }
    }
}

#modalLogin {
    .modal-title {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}
#existing-addresses{
    margin-bottom: 2rem;
}
.wrapper-address-option {
    padding: 1rem;
    border-bottom: .1rem solid $color-gray;
    &:last-child {
        border-bottom: none;
    }

    &.current {
        border: .1rem solid $color-gray;
        box-shadow: .3rem .3rem .4rem 0 rgba($color-black, .1);
    }
    .address-option {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        input {
            width: auto;
        }
        .checkout-address, .text {
            text-align: left;
            margin-left: 2rem;
            p {
                margin: 0;
            }
        }
    }
}
.box-form-add-address {
    display: none;
    margin-top: 2rem;
}