.box-content-contact {
    iframe {
        @media (max-width: 601px) {
            width: 100% !important;
        }
    }
    .box-form-contact {
        margin-top: 2rem;
        textarea.form-control {
            font-size: 1.4rem;
        }
    }
    .box-btn-contact {
        display: flex;
        justify-content: center;
        width: 100%;
        .btn-send-contact {
            width: 10rem;
            background: $color-dark-moderate-orange;
            color: $color-white;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}
