.header {
    margin: 0 auto;
    color: $color-black;
    background: $color-white;
    .header-top {
        display: none;
        @media (min-width: 768px) {
            display: block;
            border-bottom: .1rem solid $color-gray;
        }
        .box-user {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;
            padding: 1rem 0;
            .my-account {
                position: relative;
                span {
                    padding: 0 1rem;
                    &:first-child {
                        border-right: .1rem solid $color-slightly-desaturated-green;
                    }
                }
                &:hover {
                    ul {
                        display: block;
                    }
                }
            }
            ul {
                display: none;
                position: absolute;
                top: 100%;
                padding: 0 2rem;
                color: $color-black;
                background: $color-white;
                z-index: 999;
                width: 100%;
                height: 13rem;
                box-shadow: 0 .2rem .3rem rgba($color-black, .3);
                li {
                    list-style: none;
                    margin-bottom: .3rem;
                    a {
                        color: $color-black;
                    }
                }
            }
        }
    }
    .mobile-bar-icon {
        text-decoration: none;
        cursor: pointer;
        font-size: 0;
        visibility: visible;
        display: block;
        z-index: 99;
        background: $color-black;
        padding: .5rem 1rem;
        color: $color-white;
        @media (min-width: 992px) {
            display: none;
        }
        &:before {
            content: "\f0c9";
            font-family: FontAwesome;
            display: inline-block;
            vertical-align: top;
            font-size: 2.5rem;
        }
    }
}

.header-box-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .navbar-nav {
        display: none;
        @media (min-width: 992px) {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
        }
        li {
            list-style: none;
            a {
                padding: 1.5rem;
                color: $color-black;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

.header-search-cart {
    display: flex;
    .header-box-cart {
        height: 4rem;
        background: $color-dark-moderate-orange;
        position: relative;
        border-radius: .5rem;
        .header-icon-cart {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 1rem;
            font-weight: 600;
            color: $color-white;
            .text-cart {
                margin: 0 .5rem;
            }
            span {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
    }
}

.header-box-search {
    margin-bottom: 1rem;
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    .search {
        width: 100%;
        input {
            width: 100%;
            height: 4rem;
            border: 0;
            padding-left: 1rem;
            color: #666666;
            border-radius: .5rem;
        }
        button {
            position: absolute;
            right: 1.5rem;
            top: 0;
            padding: 0;
            width: 6rem;
            height: 4rem;
            font-size: 1.5rem;
            background: none;
            border: 0;
            border-bottom-right-radius: .5rem;
            border-top-right-radius: .5rem;
            color: $color-white;
            background: $color-dark-moderate-orange;
        }
    }
}

.mobile-bar-content {
    transition: left 0.3s;
    height: 100%;
    left: -100%;
    position: fixed;
    top: 0;
    width: calc(100% - 5rem);
    max-width: 500px;
    background: #333;
    box-shadow: 0 0 .5rem 0 rgba(50, 50, 50, 0.75);
    z-index: 9999;
    @media (min-width: 992px) {
        display: none;
    }
    &.open {
        left: 0;
    }
    .mobile-bar-close {
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        background: $color-dark-moderate-orange;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        font-size: 0;
        position: absolute;
        right: -5rem;
        top: 0;
        color: $color-white;
        &:hover {
            background: $color-white;
            color: $color-slightly-desaturated-green;
        }
        &:before {
            content: "\f00d";
            font-family: FontAwesome;
            display: inline-block;
            vertical-align: top;
            font-size: 1.4rem;
        }
    }
    .tabs-mobile {
        text-align: center;
        overflow: hidden;
        margin-bottom: 2rem;
        padding: 0;
        list-style: none;
        .item {
            line-height: 3rem;
            padding: 1rem 0;
            cursor: pointer;
            background: $color-slightly-desaturated-green;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 700;
            border-right: 1px solid #fff;
            float: left;
            width: 50%;
            &.active, &:hover {
                background: #fff;
                color: $color-slightly-desaturated-green;
                border-color: $color-slightly-desaturated-green;
            }
            &.item-setting {
                border: none;
            }
        }
    }
    .tabs-setting {
        a {
            text-decoration: none;
            line-height: 4rem;
            font-weight: normal;
            color: $color-white;
            margin: 0 1.5rem;
            cursor: pointer;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }
    .tabs-content-mobile {
        text-align: center;
        padding: 0 2rem;
        color: #fff;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            height: auto;
            text-align: left;
        }
        a:hover {
            color: #e93838;
        }
        .header.links {
            margin-bottom: 1rem;
            li {
                display: inline-block;
                margin: 0 1rem;
                a {
                    color: #fff;
                }
            }
        }
        .ma-nav-mobile-container {
            .navbar-nav {
                text-align: left;
                li {
                    cursor: pointer;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    float: left;
                    display: block;
                    width: 100%;
                    position: relative;
                    margin-bottom: 1rem;
                    a {
                        text-decoration: none;
                        line-height: 4rem;
                        font-weight: normal;
                        color: #fff;
                        margin: 0 1.5rem;
                        display: block;
                        cursor: pointer;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

.fix-header-fix {
    @media (min-width: 992px) {
        z-index: 999;
        position: fixed !important;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.82) !important;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        border: none;
        -webkit-animation-name: fadeInDown;
        -webkit-animation-duration: 5.0s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: anim_titles;
        -moz-animation-duration: 5.0s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-direction: normal;
        -moz-animation-play-state: running;
        -moz-animation-fill-mode: forwards;
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -webkit-animation-iteration-count: 1;
        -moz-animation-iteration-count: 1;
        -webkit-animation-duration: 0.7s;
        -moz-animation-duration: 0.7s;
        -webkit-animation-delay: 0s;
        -moz-animation-delay: 0s;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
    }
}

.fix-header-fix .mobile-bar-icon {
    display: none;
}

.fix-header-fix .container {
    height: 6rem;
}

.fix-header-fix .header-box-logo img {
    max-width: 60%;
}

.box-hotline {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-center {
    background: #f9f9f9;
    .header-box-logo {
        padding: 1rem;
    }
}

.header-bottom {
    background: $color-white;
    margin-bottom: 2rem;
    box-shadow: 0 .2rem .3rem rgba($color-black, .3);
    .header-box-menu {
        .navbar-nav {
            li {
                padding: 1.5rem 0;
                &:last-child {
                    padding-right: 0;
                }
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}