#home_slider_carousel {
    .slide-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;
        font-family: 'Josefin Sans', sans-serif;
    }
    .slide-caption__title {
        font-size: 3rem;
        font-weight: 900;
        margin-bottom: 0;
        text-transform: uppercase;
        &:before {
            content: '';
            width: 20%;
            border-bottom: .2rem solid $color-white;
            display: block;
            margin: 0 auto;
        }
    }
    .owl-item.active .slide-caption__title {
        animation: 1s .2s fadeInUp both;
    }

    .owl-item.active .slide-caption__desc {
        animation: 1s .6s fadeInUp both;
    }

    .owl-item.active .btn {
        animation: 1s .9s flipInX both;
    }

    .slide-caption__desc {
        font-size: .8rem;
        font-weight: 300;
        margin-top: 0;
        text-transform: uppercase;
    }

    .btn {
        font-size: 1.6rem;
        font-weight: 400;
        border: .2rem solid $color-white;
        color: $color-white;
        padding: .6rem 2rem;
        display: inline-block;
        text-decoration: none;
        margin-top: .5rem;
    }
}

.box-home-info {
    margin-top: 1rem;
    .info {
        display: block;
        width: 100%;
        background: $color-very-light-gray;
        padding: 1rem 1rem 1rem 10rem;
        position: relative;
        transition: all 300ms ease-in;
        margin-bottom: 2rem;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: .5rem;
            width: 8rem;
            height: 8rem;
            transform: translateY(-50%);
        }
        &.info1 {
            &:before {
                background: url(../images/money.png) no-repeat center;
            }
        }
        &.info2 {
            &:before {
                background: url(../images/free_shipping.png) no-repeat center;
            }
        }
        &.info3 {
            &:before {
                background: url(../images/payment.png) no-repeat center;
            }
        }
    }
}

.box-home-blog {
    margin-bottom: 3rem;
}

#home_news_carousel {
    .item {
        padding: 0 1.5rem;
        .blog-image {
            text-align: center;
            background: $color-white;
            position: relative;
            float: left;
            width: 100%;
            &:hover {
                &:before {
                    opacity: .4;
                }
            }
            &:before {
                content: "";
                background-color: rgba(131, 104, 104, 0.5);
                -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=20);
                opacity: 0;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -webkit-transition: all 0.3s ease 0s;
                width: 100%;
                pointer-events: none;
            }
            @media (min-width: 992px) {
                width: 50%;
            }
        }
        .blog-content {
            padding: 1rem 0 0 2rem;
            overflow: hidden;
            .time-conment {
                font-size: 2.2rem;
                font-weight: bold;
            }
            .title {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 700;
                font-style: italic;
                margin: 1rem 0;
                a {
                    color: #777;
                    font-family: 'Josefin Sans', sans-serif;
                }
            }
            .short-des {
                font-size: 1.5rem;
                line-height: 2.4rem;
                margin: 1rem 0;
                height: 46px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
            .readmore {
                text-decoration: underline;
                color: $color-black;
            }
        }
    }
}

.box-category-product {
    .tab-category {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            justify-content: flex-end;
        }
        li {
            padding: 0 1rem;
            a.nav-link {
                color: #777;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: 700;
                padding: 1rem 0;
                border-bottom: .2rem solid transparent;
                &.active {
                    background: $color-white;
                    color: $color-red;
                    border-bottom: .2rem solid $color-red;
                }
            }
        }
    }
}


