.header-wrap-menu {
    .multiple-menu {
        position: relative;
        &:hover {
            .sub-menu {
                height: auto;
                max-height: 100rem;
                box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, .5);
            }
        }
        .sub-menu {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            top: 100%;
            left: 0;
            background: $color-white;
            color: $color-dark-moderate;
            height: 0;
            max-height: 0;
            width: 40rem;
            min-width: 100%;
            transition: max-height 2s ease-in-out;
            overflow: hidden;
            z-index: 999;
            .num {
                padding-right: 5rem;
                width: 50%;
                &:last-child {
                    padding-right: 0;
                }
            }
            li {
                padding: .5rem 1rem;
                &.item-menu-first {
                    font-size: 1.4rem;
                    padding: 1rem;
                    a {
                        color: $color-dark-moderate;
                        font-weight: 400;
                    }
                }
                a {
                    color: $color-dark-moderate;
                    white-space: nowrap;
                    font-weight: 400;
                    padding: .5rem 0;
                }
            }
        }
    }
}

.tabs-content-mobile {
    .has-sub-menu {
        position: relative;
        padding-right: 4rem !important;
        &:after {
            content: "\f067";
            height: 4rem;
            width: 4rem;
            position: absolute;
            top: .5rem;
            right: 0;
            text-align: center;
            font-family: FontAwesome;
            font-size: 2rem;
            cursor: pointer;
        }
        &:hover {
            .sub-menu {
                height: auto;
                max-height: 40rem;
                overflow: hidden;
            }
            &:after {
                content: "\f068";
            }
        }
        .sub-menu {
            height: 0;
            max-height: 0;
            overflow: hidden;
            transition: all 2s;
        }
    }
}