.owl-theme .products-grid .product-item, .owl-theme .owl-item .product-item {
    width: 100%;
    margin-bottom: 1rem;

}

.products-grid .product-item-info {
    position: relative;
}

.product-image-container {
    display: block;
}

.product-image-wrapper {
    display: block;
    height: 33rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    @media (min-width: 400px) {
        height: 19rem;
    }
    @media (min-width: 768px) {
        height: 24rem;
    }
    @media (min-width: 992px) {
        height: 29rem;
    }
}

.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.products-grid .product-item-info .product-item-details {
    margin: 1rem 0 0;
}

.products-grid .product-item-info .product-item-details .content-name {
    position: relative;
    padding-right: 2rem;
}

.product-item-name {
    hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}

.products-grid .product-item-info .product-item-details .product-item-name a {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.3rem;
    color: $color-black;
}

.product-item .price-box {
    margin: 1rem 0 1rem;
}

.product-item .price-box .price {
    font-size: 1.5rem;
}

.product-item .old-price .price {
    font-weight: 600;
}

.price-box {
    line-height: 2rem;
    margin: 5px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.price-box .price-label {
    display: none;
}

.price-box .price-from,
.price-box .price-to {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.price-box .price-from .price-label,
.price-box .price-to .price-label {
    display: inline;
}

.price-box .price-box {
    margin: 0;
}

.price-box .price-box p {
    margin: 0;
}

.price-box .price {
    color: #e93838;
    font-size: 1.5rem;
    font-weight: 600;
}

.price-box .special-price {
    line-height: 2rem;
    display: inline-block;
}

.price-box .old-price {
    margin-left: 5px;
    line-height: 2rem;
}

.price-box .old-price .price {
    color: #999999;
    text-decoration: line-through;
    font-size: 13px;
}

.products-grid .product-item-info .product-item-details .content-name .wishlist {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 1.6rem;
    &:before {
        content: "\f08a";
        font-family: FontAwesome;
    }
}

.products-grid .product-item-info .product-item-details .product-item-actions {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 11;
    margin: 0;
    width: 4rem;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: translateY(3.57rem);
    -ms-transform: translateY(3.57rem);
    transform: translateY(3.57rem);
    opacity: 0;
}

.products-grid .product-item-info .product-item-details .product-item-actions .add-to-cart-primary button.tocart {
    padding: 0;
    display: block;
    width: 4rem;
    height: 4rem;
    border: 0;
    background: #ffffff;
    color: #444;
    cursor: pointer;
    &:before {
        content: "\f07a";
        font-family: FontAwesome;
    }
}

.products-grid .product-item-info:hover .product-item-details .product-item-actions {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.products-grid .product-item-info .product-item-details .product-item-actions .add-to-cart-primary button.tocart span {
    display: none;
}

#thumb_product_page_carousel {
    text-align: center;
    display: none;
    @media (min-width: 600px) {
        display: block;
    }
}

.box-slider-product {
    padding-top: 2rem;
    @media (min-width: 768px) {
        padding: 2rem;
    }
    img {
        width: 100%;
    }
    #product_page_carousel {
        &:hover {
            .slick-arrow {
                opacity: 1;
                transform: scale(1);
            }
        }
        .slick-arrow {
            width: 5rem;
            height: 5rem;
            text-align: center;
            line-height: 5rem;
            font-size: 0;
            background: rgba(0, 0, 0, .5);
            position: absolute;
            left: 0;
            z-index: 11;
            transition: all 0.4s ease-out;
            opacity: 0;
            transform: scale(0);
            &:before {
                line-height: 5rem;
            }
        }
        .slick-next {
            right: 0;
            left: auto;
        }
    }
    #thumb_product_page_carousel {
        &.slick-no-slide {
            .slick-track {
                text-align: center;
                transform: translate3d(0px, 0px, 0px) !important;
            }
        }
        margin-top: .2rem;
        .slick-slide {
            margin: 0 .1rem;
            cursor: pointer;
            &.slick-current {
                border: .1rem solid $color-red;
            }
        }
    }
}

.product-info-price {
    .price-box {
        margin-top: 1rem;
        line-height: 3rem;
        .special-price, .old-price {
            display: inline-block;
            line-height: 3rem;
            .price {
                font-size: 3rem;
            }
        }
        .old-price {
            .price {
                font-size: 2rem;
            }
        }
    }
}

.product-info-stock-sku {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .stock {
        margin-right: 2rem;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: top;
    }
}

.box-product-add-form {
    margin-top: 2rem;
    input[type=radio] {
        display: none;
        &:checked + .choose {
            border: .2rem solid $color-slightly-desaturated-green;
            &:before {
                content: "\f00c";
                font-family: FontAwesome;
                position: absolute;
                bottom: -.5rem;
                right: -.5rem;
                font-size: .8rem;
                width: 1.4rem;
                text-align: center;
                height: 1.4rem;
                line-height: 1.4rem;
                color: $color-white;
                border-radius: 50%;
                background-color: $color-slightly-desaturated-green;
            }
        }
        &:checked + .choose-size {
            background: $color-gray;
            border: .2rem solid $color-slightly-desaturated-green;
            &:before {
                content: "\f00c";
                font-family: FontAwesome;
                position: absolute;
                bottom: -.5rem;
                right: -.5rem;
                font-size: .8rem;
                width: 1.4rem;
                text-align: center;
                height: 1.4rem;
                line-height: 1.4rem;
                color: $color-white;
                border-radius: 50%;
                background-color: $color-slightly-desaturated-green;
            }
        }
    }
    .choose {
        height: 4rem;
        width: 4rem;
        cursor: pointer;
        border: .1rem solid $color-black;
        position: relative;
    }
    .choose-size {
        width: 6rem;
        text-align: center;
        padding: .5rem 0;
        border: .1rem solid $color-black;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        position: relative;
    }
}

.box-add-to-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid $color-gray;
    .box-qty {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 1rem;
        .label {
            margin-bottom: 0;
            margin-right: .5rem;
        }
        .control {
            input {
                width: 5rem;
                height: 3.8rem;
                text-align: center;
            }
        }
    }
    .actions {
        button {
            color: $color-white;
            background: $color-black;
        }
    }
}

.product-social-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    .product-addto-links {
        display: inline-block;
        background: #d8d8d8;
        padding: 0 1.5rem;
        line-height: 3.8rem;
        height: 3.8rem;
        text-align: center;
        white-space: nowrap;
        font-size: 1.3rem;
        text-transform: uppercase;
        transition: all 0.4s ease-out;
        border-radius: 0;
        border: 0;
        font-weight: 600;
        &:hover {
            &:before {
                color: $color-red;
            }
        }
        &:before {
            line-height: 38px;
            display: inline-block;
            margin-right: 5px;
            content: "\F08A";
            font-family: FontAwesome;
            font-weight: 700;
            transition: all 0.4s ease-out;
        }
    }
    .product-share-fb {
        margin-left: 1rem;
        line-height: 3.7rem;
        height: 3.8rem;
        width: 3.8rem;
        text-align: center;
        a {
            border: .1rem solid $color-gray;
            background: #d8d8d8;
            color: $color-black;
            display: block;
        }
    }
}

.box-sumary {
    margin-top: 1rem;
}

.box-content {
    margin-bottom: 2rem;
}

.box-product-related {
    .block-title {
        text-align: center;
        border: 0 !important;
        color: #252525;
        text-transform: uppercase;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

.box-size-attr, .box-color-attr {
    padding: .5rem;
    &.error {
        display: inline-block;
        border: .1rem dotted $color-red;
        background: rgba($color-red, .2);
    }
    label {
        margin: 0 .4rem;
    }
}

.category-view-top-wrapper {
    position: relative;
    background-color: $color-gray-f4;
    min-height: 15rem;
    margin-bottom: 3rem;
    .category-view-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 15rem;
        flex-wrap: wrap;
        .page-title {
            margin: 0;
            @media (min-width: 768px) {
                margin: 2rem 0;
            }
        }
        .breadcrumbs {
            width: 100%;
            @media (min-width: 768px) {
                width: auto;
            }
        }
    }
}

.box-short-product .box-widget {
    margin-top: 0;
    margin-bottom: 2rem;
}

.filter-price {
    h5 {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 1rem;
    }
    input[type='range'] {
        width: 100%;
        height: 3rem;
        overflow: hidden;
        cursor: pointer;
        outline: none;
    }
    input[type='range'],
    input[type='range']::-webkit-slider-runnable-track,
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
        width: 100%;
        height: .2rem;
        background: #003D7C;
    }

    input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
        background: none;
    }

    input[type='range']::-webkit-slider-thumb {
        position: relative;
        height: 15px;
        width: 15px;
        margin-top: -7px;
        background: #fff;
        border: 1px solid #003D7C;
        border-radius: 25px;
        z-index: 1;
    }

    input[type='range']:nth-child(1)::-webkit-slider-thumb {
        z-index: 2;
    }
    .rangeslider {
        position: relative;
        height: 6rem;
        width: 100%;
        display: inline-block;
    }
    .rangeslider input {
        position: absolute;
    }
    .rangeslider span {
        position: absolute;
        margin-top: 30px;
        left: 0;
    }

    .rangeslider .right {
        position: relative;
        float: right;
        margin-right: -5px;
    }
}

.product-item-images {
    img {
        width: 100%;
    }
}

.box-content-product-page {
    .product-image-wrapper {
        @media (min-width: 400px) {
            height: 38rem;
        }
        @media (min-width: 576px) {
            height: 26rem;
        }
        @media (min-width: 768px) {
            height: 16rem;
        }
        @media (min-width: 820px) {
            height: 20rem;
        }
        @media (min-width: 1200px) {
            height: 27rem;
        }
    }
}

.item-product-new {
    .product-image-wrapper {
        @media (min-width: 400px) {
            height: 38rem;
        }
        @media (min-width: 500px) {
            height: 45rem;
        }
        @media (min-width: 576px) {
            height: 25rem;
        }
        @media (min-width: 768px) {
            height: 16rem;
        }
        @media (min-width: 992px) {
            height: 20rem;
        }
        @media (min-width: 1200px) {
            height: 27rem;
        }
    }
}

.toolbar-products {
    padding: 0 0 8px 0;
    border-bottom: 1px solid #ededed;
}

.page-product-main {
    .product-page-title {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.pages-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .pages-item {
        list-style: none;
        margin-right: 1rem;
        &.pages-item-prev, &.pages-item-next {
            width: 3rem;
            height: 3rem;
            border: .1rem solid $color-gray;
            a {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                line-height: 2.7rem;
                text-align: center;
                &:before {
                    content: "\f104";
                    font-family: FontAwesome;
                    font-size: 2rem;
                }
            }
        }
        &.pages-item-next {

            a {
                &:before {
                    content: "\f105";
                }
            }
        }
    }
}

.block-content-filter {
    .filter-category {
        h5 {
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-top: 1rem;
        }
    }
    .category {
        .form-check {
            margin: 0;
            .form-check-label {
                display: flex;
                align-items: center;
                span {
                    margin-top: .3rem;
                    margin-left: .5rem;
                }
            }
        }
    }
}

#modalWishlist {
    .modal-dialog {
        max-width: 32rem;
    }
}

.box-product-wishlist {
    .product-item {
        text-align: center;
    }
    .product-image-wrapper {
        height: 11rem;
        width: 10rem;
        display: inline-block;
    }
}

.filter-product {
    h5 {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 1rem;
    }
    .box-color {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                margin: .5rem;
                input {
                    display: none;
                    &:checked ~ label {
                        border: .2rem solid $color-slightly-desaturated-green;
                    }
                }
                label {
                    width: 3rem;
                    height: 3rem;
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }
    .box-size {
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                cursor: pointer;
                margin: .5rem;
                input {
                    display: none;
                    &:checked ~ label {
                        background: rgba($color-slightly-desaturated-green, .7);
                    }
                }
                label {
                    background: $color-gray;
                    margin: 0 auto;
                    cursor: pointer;
                    height: 3rem;
                    min-width: 3rem;
                    text-align: center;
                    line-height: 2.9rem;
                    border: .1rem solid $color-gray;
                    padding: 0 .5rem;
                }
            }
        }

    }
}

.filter-category {
    ul {
        li {
            margin-bottom: .5rem;
            &.active {
                a {
                    color: $color-black;
                    &:before {
                        background: $color-black;
                    }
                }
            }
            a {
                padding-left: 1.8rem;
                position: relative;
                color: $color-dark-moderate;
                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    border: .1rem solid $color-gray;
                    width: 1.2rem;
                    height: 1.2rem;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.box-product-flex-four {
    .product-image-container {
        .product-image-wrapper {
            @media (min-width: 400px) {
                height: 39rem;
            }
            @media (min-width: 460px) {
                height: 42rem;
            }
            @media (min-width: 576px) {
                height: 27rem;
            }
            @media (min-width: 676px) {
                height: 31rem;
            }
            @media (min-width: 768px) {
                height: 23rem;
            }
            @media (min-width: 868px) {
                height: 27rem;
            }
            @media (min-width: 992px) {
                height: 21rem;
            }
            @media (min-width: 1200px) {
                height: 27rem;
            }
        }
    }
}