$color-white: #fff;
$color-black: #000;
$color-black-light: #252525;
$color-gray: #eee;
$color-gray-f4: #f4f4f4;
$color-red: #e93838;
$color-very-light-gray: #f7f7f7;
$color-slightly-desaturated-green: #aecd81;
$color-dark-moderate-orange: #8f734c;
$color-dark-moderate: #564319;
