.block-collapsible-nav {
  .title {
    text-transform: uppercase;
    border-bottom: .1rem solid $color-gray;
    padding: 0 0 1rem;
    margin-bottom: 1rem;
  }
  .content ul.nav {
    background-color: $color-gray-f4;

    li {
      display: block;
      width: 100%;
      strong, a {
        position: relative;
        display: block;
        padding: 1rem 1.5rem;
      }
      &:hover {
        a {
          background-color: $color-gray;
        }
      }
      &.current > strong {
        background-color: #eee;
      }
    }
  }
}

.box-content-account {
  .block {
    .block-title {
      padding: 0 0 .7rem;
      border-bottom: .1rem solid $color-gray-f4;
      position: relative;
      margin-bottom: 2rem;
      strong {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 400;
        color: #252525;
      }
    }
  }
}

.fieldset > .field.choice {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0;
  }
  &:before {
    padding: .6rem 1.5rem 0 0;
    width: 25.8%;
    box-sizing: border-box;
    content: ' ';
    float: left;
    height: 1px;
  }
}

.add-address {
  float: right;
}

.box-item-address {
  margin-bottom: 1rem;
  padding: 1rem;
  background: $color-gray;
  .wrapper-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .box-info-address {
      width: 100%;
      @media (min-width: 500px) {
        width: 75%;
      }
    }
    .action-address {
      width: 100%;
      @media (min-width: 500px) {
        width: 25%;
      }
      a {
        text-transform: uppercase;
        margin-left: 1rem;
        font-weight: 600;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .box-change-type-address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    a {
      width: 100%;
      font-weight: 600;
      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}

.form-create-edit-address {
  .col-form-label {
    text-align: left;
    @media (min-width: 576px) {
      text-align: right;
    }
  }
  .custom-select {
    height: 3.4rem;
    width: 100%;
  }
}