.footer-top {
    padding: 3rem 0;
    background-color: $color-dark-moderate;
    color: $color-white;
    a {
        color: $color-white;
    }
    .footer-static {
        .menu-footer {
            margin-bottom: 1.5rem;
        }
        h3 {
            margin-bottom: .5rem;
            text-transform: uppercase;
            font-size: 1.5rem;
        }
        p {
            &.text {
                color: #a9a9a9;
                margin: 2rem 0;
            }
        }
    }
}

.form-subscribe {
    margin-bottom: 4.8rem;
    .control {
        width: 100%;
        max-width: 40rem;
        position: relative;
        height: 4.8rem;
        border: .1rem solid $color-white;
        background: none;
        input[type="email"] {
            width: 100%;
            height: 100%;
            background: none;
            border: 0;
            font-size: 1.3rem;
            color: $color-white;
            padding-right: 4rem;
            padding-left: 1rem;
            &::-webkit-input-placeholder {
                color: $color-gray;
            }
            &::-moz-placeholder {
                color: $color-gray;
            }
            &:-ms-input-placeholder {
                color: $color-gray;
            }
            &:-moz-placeholder {
                color: $color-gray;
            }
        }
        button {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            width: 4.8rem;
            height: 4.8rem;
            background: none;
            border: 0;
            text-align: center;
            padding: 0;
            font-size: 1.6rem;
            span {
                display: none;
            }
            i {
                color: $color-white;
                font-size: 2.5rem;
            }
        }
    }
}

.link-follow {
    li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 .5rem .5rem 0;
        a {
            width: 4rem;
            height: 4rem;
            text-align: center;
            line-height: 4rem;
            border: .1rem solid $color-white;
            color: #c8c8c8;
            span {
                display: none;
            }
        }
    }
}
.wrap-loading {
    .cssload-cssload-ballsncups {
        display: none;
    }
}
.loading {
    .wrap-loading {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color-white, .6);
        z-index: 999999;
    }
    .cssload-cssload-ballsncups {
        display: block;
        width: 280px;
        height: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
    }

    .cssload-cssload-ballsncups li {
        float: left;
        position: relative;
    }

    .cssload-circle {
        width: 36px;
        height: 36px;
        border-radius: 0 0 50% 50%;
        border: 4px solid rgb(0,0,0);
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .cssload-ball {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        top: 50%;
        left: 50%;
        margin-top: -9px;
        margin-left: -9px;
        border-radius: 100%;
        background: rgb(0,0,0);
        box-shadow: 0 -13px 0 0 rgba(0,0,0,0.15), 0 -9px 0 0 rgba(0,0,0,0.1), 0 -4px 0 0 rgba(0,0,0,0.05);
    }

    .cssload-circle {
        animation: rotate 1.73s cubic-bezier(0.45, 0, 1, 1) infinite;
    }

    .cssload-ball {
        animation: fall 1.73s cubic-bezier(0.95, 0, 1, 1) infinite;
    }

    .cssload-cssload-ballsncups li:nth-child(1) div {
        animation-delay: 115ms;
    }

    .cssload-cssload-ballsncups li:nth-child(2) div {
        animation-delay: 230ms;
    }

    .cssload-cssload-ballsncups li:nth-child(3) div {
        animation-delay: 345ms;
    }

    .cssload-cssload-ballsncups li:nth-child(4) div {
        animation-delay: 460ms;
    }

    .cssload-cssload-ballsncups li:nth-child(5) div {
        animation-delay: 575ms;
    }




    @keyframes rotate {
        0%, 20% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes fall {
        0%, 20% {
            transform: translatey(-27px);
            opacity: 0;
        }
        20%,
        24%,
        27%,
        30%,
        50%,
        75% {
            transform: translatey(0px);
            opacity: 1;
        }
        22% {
            transform: translatey(-9px)
        }
        25% {
            transform: translatey(-5px)
        }
        28% {
            transform: translatey(-2px)
        }
        30% {
            box-shadow: 0px 0px 0px rgba(0,0,0,0.3);
        }
        75%,
        100% {
            box-shadow: 0 -13px 0 0 rgba(0,0,0,0.15), 0 -9px 0 0 rgba(0,0,0,0.1), 0 -4px 0 0 rgba(0,0,0,0.05);
            transform: translatey(27px);
            opacity: 0;
        }
    }
}