@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900&subset=vietnamese');
@import 'var';
.box-dont-has-product {
	color: red;
}
html {
    font-size: 7.5pt;
}


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #666666;
    text-align: left;
    background-color: $color-white;
}

input[type="date"], input[type="text"], input[type="password"], select, input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: $color-white;
    background-clip: padding-box;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    height: 32px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    &.error {
        border-color: $color-red;
    }
}

a {
    color: #252525;
    transition: all 0.4s ease-out;
    text-decoration: none;
    &:hover {
        color: $color-red;
        text-decoration: none;
    }
}

.error {
    color: $color-red;
}

button {
    cursor: pointer;
}

.form-control {
    font-size: 1.4rem;
}

.action.primary {
    background: #d8d8d8;
    color: #666;
    display: inline-block;
    padding: 0 18px;
    line-height: 38px;
    height: 38px;
    text-align: center;
    white-space: nowrap;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
    border: 0;
    transition: all 0.4s ease-out;
    &:hover {
        color: $color-white;
        background: $color-red;
    }
}

ul {
    padding: 0;
    list-style: none;
}

.container {
    @media (min-width: 576px) {
        max-width: 100%;
    }
    @media (min-width: 768px) {
        max-width: 100%;
    }
    @media (min-width: 992px) {
        max-width: 98rem;
    }
    @media (min-width: 1200px) {
        max-width: 120rem;
    }
}

.ma-title {
    margin: 0 0 3rem;
    h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: bold;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .des {
        font-size: 1.6rem;
    }
}

body .owl-theme .owl-nav > div {
    width: 5rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 0;
    background: rgba($color-gray, .9);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4rem;
    z-index: 11;
    transition: all 0.4s ease-out;
    opacity: 0;
    transform: scale(0);
    &:before {
        content: "\f104";
        font-family: FontAwesome;
        display: block;
        line-height: 50px;
        font-size: 1.5rem;
    }
}

body .owl-theme .owl-nav > div.owl-next {
    left: auto;
    right: 0;
    &:before {
        content: "\f105";
    }
}

body .owl-theme:hover .owl-nav > div {
    opacity: 1;
    transform: scale(1);
}

.page-main-content {
    padding-bottom: 5rem;
    .box-info-support {
        span, a {
            color: #a3a3a3;
            text-transform: uppercase;
            padding-right: 1rem;
        }
    }
}

.breadcrumbs {
    box-sizing: border-box;
    width: 100%;
    .items {
        font-size: 1.2rem;
        color: #a3a3a3;
        margin: 0;
        padding: 0;
        list-style: none none;
    }
    .item {
        display: inline-block;
        margin: 0;
        font-size: 1.6rem;
        &:not(:last-child) {
            display: inline-block;
            text-decoration: none;
            &:after {
                vertical-align: middle;
                -webkit-font-smoothing: antialiased;
                font-size: 1.4rem;
                line-height: 1.4rem;
                content: "\f054";
                font-family: 'FontAwesome';
                margin: 0;
                display: inline-block;
                font-weight: 100;
                overflow: hidden;
                speak: none;
                text-align: center;
            }
            &:first-child {
                a {
                    padding-left: 0;
                }
            }
        }
        strong {
            color: #e93838;
            padding: 0 1rem;
        }
        a {
            padding: 0 1rem;
        }
    }
}

.breadcrumbs a {
    color: #333;
    text-decoration: none;
}

.page-title {
    font-size: 3rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

#cfacebook {
    position: fixed;
    bottom: 0;
    right: 1rem;
    z-index: 9999;
    width: 25rem;
    height: auto;
    box-shadow: .6rem .6rem .6rem 1rem rgba($color-black, .2);
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
    overflow: hidden;
    .fchat {
        float: left;
        width: 100%;
        height: 27rem;
        overflow: hidden;
        display: none;
        background-color: $color-white;
        .fb-page {
            margin-top: -13rem;
            float: left;
        }
    }
    a.chat_fb {
        float: left;
        padding: 0 2.5rem;
        width: 25rem;
        color: #fff;
        text-decoration: none;
        height: 4rem;
        line-height: 4rem;
        text-shadow: 0 1px 0 rgba($color-black, .1);
        background-color: $color-slightly-desaturated-green;
        border: 0;
        border-bottom: 1px solid $color-slightly-desaturated-green;
        z-index: 9999999;
        margin-right: 12px;
        font-size: 18px;
    }
}

.line-border-bottom {
    border-bottom: .1rem solid rgba($color-black, .8);
    margin-bottom: 1rem;
}

.line-width {
    border-right: .1rem solid $color-gray;
}

#sex.custom-select, .custom-select-form {
    height: 3.4rem !important;
    width: 100%;
}

.box-button-add-new {
    button {
        background: $color-dark-moderate-orange;
        border-radius: .2rem;
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 400;
        padding: .5rem 1rem;
    }
}

#modal_birthday {
    #sex_child {
        height: 3.2rem;
    }
    .modal-footer {
        button {
            font-size: 1.6rem;
            &.btn-primary {
                background: $color-dark-moderate-orange;
                border-radius: .2rem;
                color: $color-white;
                font-size: 1.6rem;
                font-weight: 400;
                padding: .5rem 1rem;
                border: none;
            }
        }
    }
}

@import 'header';
@import 'footer';
@import 'home';
@import 'product';
@import 'blog';
@import 'login';
@import 'register';
@import 'account';
@import 'cart';
@import 'checkout';
@import 'menumobile';
@import 'contact';